<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dddj.dao.UserMapper">

    <cache type="org.mybatis.caches.ehcache.EhcacheCache"/>

    <select id="queryUserById" resultType="user" useCache="true">
        select * from mybatis.user where id = #{id}
    </select>
<!--可通过flushCache来使增删改查不刷新缓存-->
    <update id="updateUser" parameterType="user" flushCache="false">
            update mybatis.user set name = #{name},pwd = #{pwd} where id = #{id}
    </update>

</mapper>